body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  color: white;
  image-rendering: pixelated;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100vw;
  height: 100vh; /* emscripten canvas */
}